{% extends 'jeu_templates/base.html' %}
{% load static %}

{% block title %}Partie : {{ nom_partie }}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <p class="display-4">Partie : {{ nom_partie }}</p>
    <p id="current_player">C'est au tour de : {{ current_player.username }}</p>

    <div id="message-container"></div>
    
    <!-- Bouton de réinitialisation de la partie -->
    
    <button id="reset-game" data-url="{% url 'reset_game' partie.id %}">Réinitialiser la partie</button>
    
  
    <!-- Modal de défausse des jetons -->
    <div class="modal fade" id="discardTokensModal" tabindex="-1" aria-labelledby="discardTokensModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="discardTokensModalLabel">Défausser des jetons</h1>
            </div>
            <div class="modal-body">
              <!-- Les sélecteurs de jetons seront insérés ici -->
            </div>
            <div class="modal-footer">
              <button type="button" id="confirmDiscardButton" class="btn btn-primary">Confirmer</button>
            </div>
          </div>
        </div>
      </div>
  


    <!-- Affichage du nombre de joueurs -->
    <div>
        <h3>Nombre de joueurs : {{ partie.joueurs.count }} / {{ partie.nombre_joueurs }}</h3>
    </div>


    <div class="plateau">
        <div class="jetons">
            {% for couleur, quantite in plateau.items %}
                <div id="plateau-{{ couleur }}-quantite" class="jeton {{ couleur }}" data-color="{{ couleur }}">
                    {{ couleur }}: <span>{{ quantite }}</span>
                </div>
            {% endfor %}
        </div>
        <button id="prendre-deux-jetons">Prendre 2 jetons de la couleur sélectionnée</button>
        <button id="prendre-trois-jetons">Prendre 3 jetons différents</button>
        <div class="clear"></div>
        <!-- Affichage des cartes du plateau -->
        <div class="plateau">
            <div class="cartes-plateau row justify-content-between">
                <!-- Pile de carte à gauche -->
                <div class="col-md-2 mb-4">
                    <div class="pile-de-carte">
                        <img src="/static/images/cartes/fond_de_carte_rouge.jpg" class="card-img-pile" alt="Pile de cartes">
                        <p>Il reste {{ cartes_pile_niveau_1|length }} carte(s)</p>
                    </div>
                </div>
                
                <!-- Cartes visibles sur le plateau -->
                {% for carte in cartes_plateau_niveau_1  %}
                    <div class="col-md-2 mb-4">
                        <div class="carte card" data-id="{{ carte.id }}">
                            <img src="/static/{{ carte.image_path }}" class="card-img-top" alt="Image de la carte">
        
                            <div class="card-footer">
                                <button class="btn btn-warning reserver-carte-btn" data-id="{{ carte.id }}">Réserver</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cartes-plateau row justify-content-between">
                <!-- Pile de carte à gauche -->
                <div class="col-md-2 mb-4">
                    <div class="pile-de-carte">
                        <img src="/static/images/cartes/fond_de_carte_jaune.jpg" class="card-img-pile" alt="Pile de cartes">
                        <p>Il reste {{ cartes_pile_niveau_2|length }} carte(s)</p>
                    </div>
                </div>
                
                <!-- Cartes visibles sur le plateau -->
                {% for carte in cartes_plateau_niveau_2 %}
                    <div class="col-md-2 mb-4">
                        <div class="carte card" data-id="{{ carte.id }}">
                            <img src="/static/{{ carte.image_path }}" class="card-img-top" alt="Image de la carte">
        
                            <div class="card-footer">
                                <button class="btn btn-warning reserver-carte-btn" data-id="{{ carte.id }}">Réserver</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cartes-plateau row justify-content-between">
                <!-- Pile de carte à gauche -->
                <div class="col-md-2 mb-4">
                    <div class="pile-de-carte">
                        <img src="/static/images/cartes/fond_de_carte_orange.jpg" class="card-img-pile" alt="Pile de cartes">
                        <p>Il reste {{ cartes_pile_niveau_3|length }} carte(s)</p>
                    </div>
                </div>
                
                <!-- Cartes visibles sur le plateau -->
                {% for carte in cartes_plateau_niveau_3 %}
                    <div class="col-md-2 mb-4">
                        <div class="carte card" data-id="{{ carte.id }}">
                            <img src="/static/{{ carte.image_path }}" class="card-img-top" alt="Image de la carte">
        
                            <div class="card-footer">
                                <button class="btn btn-warning reserver-carte-btn" data-id="{{ carte.id }}">Réserver</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
        
    </div>






    <!-- Informations des joueurs -->
    <div class="joueur">
        <h2>{{ joueur_courant.joueur.username }} (Vous)</h2>
        <p>Points de victoire : {{ joueur_courant.points_victoire }}</p>
        <!-- Jetons -->
        <h3>Vos jetons :</h3>
        {% with username=joueur_courant.joueur.username|slugify %}
            <ul id="joueur-jetons-{{ username }}">
                {% for couleur, quantite in joueur_courant.jetons.items %}
                    {% if quantite > 0 %}
                        <li id="joueur-jetons-{{ username }}-{{ couleur }}">
                            {{ couleur|capfirst }} : <span>{{ quantite }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endwith %}
        

       
        <!-- Bonus -->
        <h3>Vos bonus :</h3>
        <ul id="joueur-bonus-list-{{ joueur_courant.joueur.username }}" class="d-inline-flex flex-wrap list-unstyled">
            {% for couleur, bonus in joueur_courant.bonus.items %}
                <li id="joueur-bonus-{{ joueur_courant.joueur.username }}-{{ couleur }}" class="m-2">
                    <strong>{{ couleur|capfirst }}</strong> : <span>{{ bonus }}</span>
                </li>
            {% endfor %}
        </ul>

        <!-- Cartes achetées -->
        <h3>Cartes achetées :</h3>
        <ul id="joueur-cartes-achetees-{{ joueur_courant.joueur.username }}" class="d-inline-flex flex-wrap list-unstyled">
            {% if joueur_courant.cartes_achetees.all %}
                {% for carte in joueur_courant.cartes_achetees.all %}
                    <li class="m-2">
                        <img src="/static/{{ carte.image_path }}" class="card-img-top" alt="Image de la carte" style="width: 100px; height: 120px;">
                        <p>{{ carte.niveau }} - {{ carte.bonus }} - {{ carte.points_victoire }} points</p>
                    </li>
                {% endfor %}
            {% else %}
                <li class="m-2">
                    <p>Aucune carte achetée</p>
                </li>
            {% endif %}
        </ul>


     
        <!-- Cartes réservées -->
        <h3>Cartes réservées :</h3>
        <ul id="joueur-cartes-reservees-{{ joueur_courant.joueur.username }}" data-username="{{ joueur_courant.joueur.username }}" class="d-inline-flex flex-wrap list-unstyled">
            {% if joueur_courant.cartes_reservees.all %}
                {% for carte in joueur_courant.cartes_reservees.all %}
                    <li class="m-2">
                        <img src="/static/{{ carte.image_path }}" class="card-img-top carte-img" alt="Image de la carte" style="width: 100px; height: 120px;" data-id="{{ carte.id }}">
                    </li>
                {% endfor %}
            {% else %}
                <li class="m-2">
                    <p>Aucune carte réservée</p>
                </li>
            {% endif %}
        </ul>
    </div>
    
    {% for adversaire in adversaires %}
        <div class="joueur">
            <h2>{{ adversaire.joueur.username }}</h2>
            <p>Points de victoire : {{ adversaire.points_victoire }}</p>
            <h3>Ses jetons :</h3>
            <ul>
                {% for couleur, quantite in adversaire.jetons.items %}
                    <li id="joueur-jetons-{{ adversaire.joueur.username }}-{{ couleur }}">{{ couleur }} : <span>{{ quantite }}</span></li>
                {% endfor %}
            </ul>
            
            <h3>Ses bonus :</h3>
            <ul>
                {% for couleur, quantite in adversaire.bonus.items %}
                    <li>{{ couleur }} : {{ quantite }}</li>
                {% endfor %}
            </ul>

            <h3>Cartes Réservées :</h3>
            <ul>
                {% for carte in adversaire.cartes_reservees_list %}
                    <li>Niveau {{ carte.niveau }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}


    
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="module" src="{% static 'js/reset_game.js' %}"></script>
    <script>
        const nom_partie = "{{ nom_partie|escapejs }}";
        const monNomUtilisateur = "{{ request.user.username|escapejs }}";
        const currentPlayer = "{{ current_player.username|escapejs }}";
    </script>
    <script type="module" src="{% static 'js/main.js' %}"></script>

{% endblock %}
