{% extends 'jeu_templates/base.html' %}
{% load static %}

{% block title %}Partie : {{ nom_partie }}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <h2 class="display-4">Partie : {{ nom_partie }}</h2>
    <p class="lead">Préparez-vous à jouer !</p>
    <p>Partie ID : {{ partie.id }}</p>
    <p>Reset game URL : {% url 'reset_game' partie.id %}</p>

    <p id="current_player">C'est au tour de : {{ current_player.username }}</p>

    <div id="message-container"></div>
    
    <!-- Bouton de réinitialisation de la partie -->
    
    <button id="reset-game" data-url="{% url 'reset_game' partie.id %}">Réinitialiser la partie</button>
    
  



    <!-- Affichage du nombre de joueurs -->
    <div>
        <h3>Nombre de joueurs : {{ partie.joueurs.count }} / {{ partie.nombre_joueurs }}</h3>
    </div>


    <div class="plateau">
        <div class="jetons">
            {% for couleur, quantite in plateau.items %}
                <div id="plateau-{{ couleur }}-quantite" class="jeton {{ couleur }}" data-color="{{ couleur }}">
                    {{ couleur }}: <span>{{ quantite }}</span>
                </div>
            {% endfor %}
        </div>
        <button id="prendre-deux-jetons">Prendre 2 jetons de la couleur sélectionnée</button>
        <button id="prendre-trois-jetons">Prendre 3 jetons différents</button>
        <div class="clear"></div>
        <!-- Affichage des cartes du plateau -->
        <div class="cartes-plateau row">
            {% for carte in cartes_plateau %}
                <div class="col-md-3 mb-4">
                    <div class="carte card h-100" data-id="{{ carte.id }} ">
                        <img src="/static/{{ carte.image_path }}" class="card-img-top" alt="Image de la carte" style="width: 100px; height: 120px;">


                        <div class="card-body">
                            <h5 class="card-title">Niveau {{ carte.niveau }}</h5>
                            <h5 class="card-title">id {{ carte.id }}</h5>
                            <p class="card-text">
                                <strong>Bonus :</strong> {{ carte.bonus|capfirst }}<br>
                                <strong>Points de victoire :</strong> {{ carte.points_victoire }}
                            </p>
                            <p><strong>Coût :</strong></p>
                            <ul>
                                {% for couleur, quantite in carte.cout.items %}
                                    <li>{{ couleur|capfirst }} : {{ quantite }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>






    <!-- Informations des joueurs -->
    <div class="joueur">
        <h2>{{ joueur_courant.joueur.username }} (Vous)</h2>
        <p>Points de victoire : {{ joueur_courant.points_victoire }}</p>
        <!-- Jetons -->
        <h3>Vos jetons :</h3>
        <ul class="d-inline-flex flex-wrap list-unstyled">
            {% for couleur, quantite in joueur_courant.jetons.items %}
                <li id="joueur-jetons-{{ joueur_courant.joueur.username }}-{{ couleur }}" class="m-2">
                    <strong>{{ couleur|capfirst }}</strong> : <span>{{ quantite }}</span>
                </li>
            {% endfor %}
        </ul>

       
        <!-- Bonus -->
        <h3>Vos bonus :</h3>
        <ul id="joueur-bonus-list-{{ joueur_courant.joueur.username }}" class="d-inline-flex flex-wrap list-unstyled">
            {% for couleur, bonus in joueur_courant.bonus.items %}
                <li id="joueur-bonus-{{ joueur_courant.joueur.username }}-{{ couleur }}" class="m-2">
                    <strong>{{ couleur|capfirst }}</strong> : <span>{{ bonus }}</span>
                </li>
            {% endfor %}
        </ul>

        <!-- Cartes achetées -->
        <h3>Cartes achetées :</h3>
        {% if joueur_courant.cartes_achetees.all %}
            <ul id="joueur-cartes-achetees-{{ joueur_courant.joueur.username }}" class="d-inline-flex flex-wrap list-unstyled">
                {% for carte in joueur_courant.cartes_achetees.all %}
                    <li class="m-2">
                        <img src="/static/{{ carte.image_path }}" class="card-img-top" alt="Image de la carte" style="width: 150px; height: 180px;">
                        <p>{{ carte.niveau }} - {{ carte.bonus }} - {{ carte.points_victoire }} points</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucune carte achetée</p>
        {% endif %}


        <!-- Cartes réservées -->
        <h3>Cartes réservées :</h3>
        {% if joueur_courant.cartes_reservees.all %}
            <ul class="d-inline-flex flex-wrap list-unstyled">
                {% for carte in joueur_courant.cartes_reservees.all %}
                    <li class="m-2">
                        <img src="{% static carte.image_path %}" alt="Carte {{ carte.id }}" class="card-img-top" style="width: 100px; height: 140px;">
                        <p>{{ carte.niveau }} - {{ carte.bonus }} - {{ carte.points_victoire }} points</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucune carte réservée</p>
        {% endif %}
    </div>
    
    {% for adversaire in adversaires %}
    <div class="joueur">
        <h2>{{ adversaire.joueur.username }}</h2>
        <p>Points de victoire : {{ adversaire.points_victoire }}</p>
        <h3>Ses jetons :</h3>
        <ul>
            {% for couleur, quantite in adversaire.jetons.items %}
                <li id="joueur-jetons-{{ adversaire.joueur.username }}-{{ couleur }}">{{ couleur }} : <span>{{ quantite }}</span></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="module" src="{% static 'js/reset_game.js' %}"></script>
    <script>
        const nom_partie = "{{ nom_partie|escapejs }}";
        const monNomUtilisateur = "{{ request.user.username|escapejs }}";
        const currentPlayer = "{{ current_player.username|escapejs }}";
    </script>
    <script type="module" src="{% static 'js/main.js' %}"></script>

{% endblock %}
