{% extends 'jeu_templates/base.html' %}


{% block title %}Accueil{% endblock %}

{% block content %}


    <div class="container-home">

    
        
        <div class="text-center">
            <button id="play-music" style="position: absolute; top: 110px; left: 364px; z-index: 999;">Jouer la musique</button>

            <h2 class="display-4 gold">Bienvenue sur le jeu Splendor</h2>
            <p class="lead gold">Préparez-vous à une partie palpitante de Splendor en ligne !</p>
            <a href="{% url 'creer_partie' %}" class="btn-custom-home">Commencer une partie</a>
        </div>

    </div>

    


{% endblock %}
